<!-- header -->
<div
  class="flex flex-col items-center justify-between w-full px-20 py-6 space-y-3 lg:space-y-0 lg:flex-row bg-gray-light"
>
  <div
    class="flex items-center justify-center w-full lg:justify-start lg:w-2/12"
  >
    <a href="">
      <img src="assets/img/logo.png" alt="" />
    </a>
  </div>

  <div class="items-center justify-center hidden lg:flex">Search</div>

  <div class="flex items-center justify-center w-full lg:w-2/12">
    <app-button
      [hasIcon]="true"
      [rounded]="true"
      [fab]="false"
      [isSelected]="false"
      (clickEvent)="myCart()"
    >
      <ng-container slot="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </ng-container>

      <ng-container slot="label"> Your Cart </ng-container>
    </app-button>
  </div>
</div>
<!-- end header -->
